<mat-tab-group
  style="height: 100%; box-sizing: border-box"
  [selectedIndex]="tabService.selectedTabIndex.getValue()"
  (selectedIndexChange)="tabService.selectedTabIndex.next($event)">
  @for (tab of tabService.tabList$ | async; track tab) {
    <mat-tab [label]="tab.name">
      @for (todo of tab.todo.todoList$ | async; track $index) {
        <todo-item [todo]="todo" />
      }

      <div
        class="options"
        [class.options--centered]="(tab.todo.todoList$ | async)?.length == 0">
        <p class="options__p">
          {{ phrase }}
        </p>
        <div class="options__buttons">
          <button mat-raised-button (click)="addNewTab()">
            Create new list
          </button>
          @if (tabService.selectedTabIndex.getValue() !== 0) {
            <button mat-raised-button (click)="removeTab(tab.id)">
              Remove selected list
            </button>
          }
        </div>
      </div>
    </mat-tab>
  }
</mat-tab-group>
