.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  background: #f5f5f5;
  border-radius: 1rem;

  &:hover {
    .menu__btn {
      visibility: visible;
    }
  }

  .checkbox {
    &__label {
      &--done {
        text-decoration: line-through;
      }
    }
  }

  .menu {
    display: flex;
    align-items: center;

    &__btn {
      visibility: hidden;
    }
  }
}
