<section class="container">
  <div class="container__checkbox checkbox">
    <mat-checkbox
      class="checkbox__btn"
      (change)="toggleStatus()"
      [checked]="todo.status === 'Done'">
      <span
        class="checkbox__label"
        [class.checkbox__label--done]="todo.status === 'Done'">
        {{ todo.title }}
      </span>
    </mat-checkbox>
  </div>

  <div class="container__menu menu">
    <span class="btn__label">
      {{ todo.date }}
    </span>

    @if (!parentId && !isAddingSubTodo) {
      <button
        class="menu__btn"
        mat-icon-button
        aria-label="Add subtask"
        matTooltip="Add subtask"
        matTooltipPosition="above"
        (click)="toggleAddSubTodo()">
        <mat-icon color="accent">add</mat-icon>
      </button>
    }
    @if (isAddingSubTodo) {
      <button
        class="menu__btn"
        mat-icon-button
        aria-label="Close add subtask"
        matTooltip="Close subtask"
        matTooltipPosition="above"
        (click)="toggleAddSubTodo()">
        <mat-icon color="accent">remove</mat-icon>
      </button>
    }

    <button
      class="menu__btn"
      mat-icon-button
      aria-label="Delete task"
      matTooltip="Delete"
      matTooltipPosition="above"
      (click)="parentId ? deleteSubTodo() : deleteTodo()">
      <mat-icon color="accent">delete</mat-icon>
    </button>
  </div>
</section>

@if (isAddingSubTodo) {
  <section class="input">
    <user-input [parentId]="todo.id" />
  </section>
}

<section class="subtask">
  @for (subtask of todo.subtasks; track $index) {
    <todo-item [todo]="subtask" [parentId]="todo.id" />
  }
</section>
